html { font-size: 62.5%; }

body {
  color: #2a2a2a;
  font-size: 1.4rem;
}

div {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.graphic-warper {
  margin-top: 60px;
  transition: all 250ms;
}

.graphic-template {
  float: left;
  padding: 20px;
  position: relative;
  width: 100%;
}

.graphic-template-header {
  width: 180px;
  top: 80px; /*Half height donut graphic, little less*/
  left: 50%;
  margin-left: -90px; /*Half radius donut graphic*/
  text-align: center;
  position: absolute;
}

.graphic-template-title {
  color: #8c8c8c;
  text-transform: uppercase;
}

.graphic-template-total-value {
  font-size: 2rem;
}

.graphic-template-detail {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.graphic-template-detail-device {
  float: left; 
  text-align: left;

}

.graphic-template-detail-device:last-child {
  float: right;
  text-align: right;
}

.graphic-template-device-name {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.graphic-template-device-perc {
  color: #5e5e5e;
  float: left;
  margin-right: 8px;
}

.graphic-template-device-value {
  color: #8c8c8c; 
  float: left;
}

/* ==========================================================================
   Graphics
   ========================================================================== */

.donut-graph {
  text-align: center;
}

svg.trend {
  border-radius: 50%;
  position: absolute;
  top: 44px;
  left: 50%;
  margin-left: -65px; /*HALF TRENS GRAPHIC WIDTH*/
}

.trend-svg-area {
  opacity:.2;
}

.trend-svg-stroke {
  opacity:.4;
  fill: transparent;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}

.clearfix:before,
.clearfix:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) { 
  .container {
    width: 750px;
  }
}


@media (min-width: 992px) { 
  .container {
    width: 970px;

  }
  .graphic-template {
    width: 33.33%;
  }
}

@media (min-width: 1200px) { 
  .container {
    width: 1170px;
  }
}

